/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* Main clr */
    --bold-par-clr: hsl(238, 29%, 16%);
    --arrow-clr: hsl(14, 88%, 65%);
    --reg-par-clr: hsl(237, 12%, 33%);
    --light-par-clr: hsl(240, 6%, 50%);
    --faq-border-clr: hsl(240, 5%, 91%);
    /* Gradient clr */
    --top-clr: hsl(273, 75%, 66%);
    --bot-clr: hsl(240, 73%, 65%);
    /* Font */
    --fs: 0.75rem;
    --ff: 'Kumbh Sans', sans-serif;
    --fw-reg: 400;
    --fw-bold: 700; 
}

/* ====== Styles ====== */
body {
    font-family: var(--ff);
    font-size: var(--fs);
    background: linear-gradient(
    180deg,
    var(--top-clr), 
    var(--bot-clr));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== Main ====== */
.container {
  background-color: white;
  margin-inline: 1.5rem;
  margin-block: 10rem;
  padding-inline: 1.5rem;
  border-radius: 1.5rem;
}

/* ====== Image ====== */
.illustration {
  transform: translate(0, -7rem);
  max-width: 15rem;
  margin: 0 auto;
  margin-bottom: -5rem;
  position: relative;
}

.floor-pattern {
  position: absolute;
  bottom: -2rem;
}

/* ====== FAQ ====== */
.faq {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: var(--bold-par-clr);
  margin-block: 1.5rem;
}

.box-one,
.box-two,
.box-three,
.box-four,
.box-five {
  border-bottom: 1px solid var(--faq-border-clr);
  font-size: 0.825rem;
}

.question-arrow-one,
.question-arrow-two,
.question-arrow-three,
.question-arrow-four,
.question-arrow-five {
  display: flex;
  justify-content: space-between;
}